@import 'normalize';
@import 'monokai';

// ----- Variables ----- //

$dark_grey: #4A4A4A;
$medium_grey: #9B9B9B;
$light_grey: #C4C4C4;
$white: #FFFFFF;
$highlight: #D0021B;

// ----- Global Styles ----- //

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open-Sans', sans-serif;
  color: $dark_grey;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: -0.046875;
}

p {
  line-height: 1.6em;
}

// ----- Navigation ----- //

#top_header {
  padding: .3em 0;
  border-bottom: 1px solid $light_grey;
  .logo {
    float: left;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: -0.035em;
    color: $dark_grey;
  }
  #main_nav {
    float: right;
    font-size: 1em;
    padding-top: 1em;
    a {
      color: $medium_grey;
      margin-left: 1em;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: $dark_grey;
      }
      &:active {
        text-decoration: underline;
      }
    }
  }
}

.menu {
  display: none;
}

// ----- Article List ----- //

.articles {
  width: 960px;
  max-width: 90%;
  margin: 3.5em auto;
  text-align: center;
  min-height: 100%;
  .article-date {
    font-family: 'Raleway', sans-serif;
    // text-transform: none;
    font-size: 1.125em;
    margin: .3em 0;
  }
  .article-title {
    margin: .3em 0;
    a {
        text-decoration: none;
        color: $dark_grey;
    }
  }
}

// ----- Article Detail Banner ----- //

#banner {
  text-align: center;
  margin: 100px 0;
  h1 {
    font-size: 3.250em;
    margin-top: 0.133em;
  }
  h3 {
    margin: 0px;
  }
  h4 {
    margin: 12px 0;
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    font-size: 1.125em;
  }
  #banner_content_wrapper {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
  }
}

// ----- Article Detail Content ----- //

#article_content {
  width: 960px;
  max-width: 90%;
  margin: 0 auto;
  a {
    color: $highlight;
    text-decoration: none;
    &:hover {
      color: darken($highlight, 25%);
    }
    &:visited {
      color: $highlight;
    }
  }
  img {
    display: block;
    max-width: 100%;
    margin: 2em auto;
  }
  ul, ol {
    margin-left: 1em;
  }

  li {
    font-size: 1.1em;
    line-height: 1.3em;
  }

  blockquote {
    font-size: 1.3em;
    border-left: 0.4em solid $light_grey;
    padding-left: 1.2em;
    margin: 1.5em 0;
  }

  hr {
    border-top: 1px solid $light_grey;
  }

  strong {
    font-weight: 700;
  }

  pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0
  }

  input, textarea {
    font-size: 1em;
    padding: 0.3em;
    border: 1px solid $light_grey;
  }
}

// ----- Post Tag Styles ----- //

.taglist {
  .tag {
    font-size: 0.6em;
    text-decoration: none;
    text-transform: lowercase;
    color: $white;
    background-color: $medium_grey;
    padding: 0.5em 1em;
    border-radius: 0.375em;
  }
}

// ----- Pagination Styles ----- //

.pagination {
  margin-top: 10em;
  text-align: center;
  a {
    font-weight: 700;
    color: $highlight;
    text-decoration: none;
    &:hover {
      color: darken($highlight, 25%);
    }
    &:visited {
      color: $highlight;
    }
  }
}


// ----- Footer Styles ----- //

footer {
  height: 60px;
  border-top: 0.063em solid $light_grey;
  background-color: $white;
  margin-top: 5em;
  padding: 2.063em;
  font-size: .625em;
  color: $light_grey;
  span {
    padding-top: 0.313em;
  }
  #copy {
    float:left;
  }
  #legal {
    float: right;
  }
}


// ----- Media Queries ----- //

@media only screen and (max-width: 768px){
  #main_nav {
    display: none;
  }
  #main_nav.active {
    display: block;
    width: 100%;
    a {
      display: block;
      padding: 1em 0;
      border-bottom: 1px solid $light_grey;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .menu {
    display: block;
    float: right;
    i {
      font-size: 1.5em;
      color: $dark_grey;
      padding-top: .4em;
    }
  }
}

@media only screen and (max-width: 320px){
  h1 {
    font-size: 1.5em;
  }
  #banner h1 {
    font-size: 2.250em;
  }
  .articles {
    margin: 2.3em auto;
  }
}
