@import 'normalize';
@import 'monokai';


// ----- Variables ----- //

$dark_grey: #4A4A4A;
$medium_grey: #9B9B9B;
$light_grey: #C4C4C4;
$white: #FFFFFF;
$highlight: #D0021B;


// ----- Global Styles ----- //

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open-Sans', sans-serif;
  color: $dark_grey;
}

p {
  margin: .5em 0;
}

hr, h2, h4, h5, h6 {
  margin: .9em 0;
}


p, li {
  font-size: 1em;
  line-height: 1.25em;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.035em;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.035em;
}

h3 {
  font-size: 1.375em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.035em;
  margin: .6em 0;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.125em;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.938em;
  text-transform: uppercase;
}

a {
  color: $highlight;
  text-decoration:none;
  &:visited {
    color: $highlight;
  }
}

ul, ol {
  margin-left: 3em;
}

blockquote {
  font-size: 1.3em;
  border-left: 0.4em solid $light_grey;
  padding-left: 1.2em;
  margin: 1.5em 0;
}

hr {
  border-top: 1px solid $light_grey;
}

input, textarea {
  font-size: 1em;
  padding: 0.3em;
  border: 1px solid $light_grey;
}

img {
  display: block;
  max-width: 100%;
  margin: 2em auto;
}

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
};

.content {
  position: relative;
  min-height: 100%;
  margin: 2.813em 0 -2.063em 0;
}


// ----- Footer Clearfix ----- //

.content:after {
  content: "";
  display: block;
}

footer, .content:after {
  height: 2.063em;
}


// ----- Header Styles ----- //

header {
  padding: 1.25em 0 2.5em 0;
  border-bottom: 1px solid $light_grey;
  #logo {
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: -0.035em;
    margin: 0;
    margin-top: 0.313em;
    float: left;
    font-weight: 700;
    color: $dark_grey;
  }
  nav {
    text-transform: uppercase;
    font-size: 0.75em;
    float: right;
    margin-top: 0.5em;
    a {
      margin-left: 2em;
      text-decoration: none;
      color: $medium_grey;
      &:hover, &:visited {
        color: $dark_grey;
      }
      &:active {
        text-decoration: underline;
      }
    }
  }
}


// ----- Footer Styles ----- //

footer {
  border-top: 0.063em solid $light_grey;
  background-color: $white;
  margin-top: 5em;
  padding: 2.063em;
  font-size: .625em;
  color: $light_grey;
  span {
    padding-top: 0.313em;
  }
  #copy {
    float:left;
  }
  #legal {
    float: right;
  }
}


// ----- Post Tag Styles ----- //

.taglist {
  .tag {
    font-size: 0.6em;
    text-decoration: none;
    text-transform: lowercase;
    color: $white;
    background-color: $medium_grey;
    padding: 0.5em 1em;
    border-radius: 0.375em;
  }
}


// ----- Posts Overview Styles ----- //

.post {
  text-align: center;
  padding-bottom: 2.813em;
  .post-date {
    margin: 0;
  }
  .post-title {
    margin: 0.313em 0;
    a {
      color: $dark_grey;
      &:hover {
        color: $medium_grey;
      }
    }
  }
}


// ----- Pagination Styles ----- //

.pagination {
  margin-top: 10em;
  text-align: center;
  a {
    font-weight: 700;
  }
}


// ----- Post Detail Styles ----- //

.post-detail-header {
  text-align: center;
  margin: 100px 0;
  h1 {
    font-size: 3.250em;
    margin-top: 0.133em;
  }
  h3 {
    margin: 0px;
  }
  h4 {
    margin: 12px 0;
  }
}

.post-detail-content {
  h1 {
    margin: 32px 0 0 0;
  }
}
